@import 'normalize.less';
@import 'preboot.less';
@import url('main.css'); // HTML5 Boilerplate default CSS file
@import url('typicons.css');

// CONSTANTS

@color-scheme:          #21687f;
//@color-scheme:     rgb(51,51,63);

@background:            #f8f8f8;
@clv-type:              #3f3f3f;
@sidebar-background:    #444;
@ui-index:              9000;

@footer-background:     @color-scheme;
@footer-divider:        lighten(@footer-background, 10%);
@footer-height:         40px;

@background-dark:       rgba(0,0,0,0.5);

@popup-width:           180px;

@container-width:       90%;

@vendor-heading-color:           lighten(@footer-background, 25%);
@vendor-heading-hilite-color:    lighten(@vendor-heading-color, 8%);
@vendor-heading-text-color:      white;
@vendor-entry-bgcolor:           white;
@vendor-entry-hilite-color:      rgb(240,240,240);

@time-background:       #3ab000;
@time-background-later: #ff9933;

// MEDIA QUERY WIDTHS

@mobile:                ~'screen and (max-width: 529px)';
@tablet:                ~'screen and (min-width: 530px) and (max-width: 767px)';
@desktop-small:         ~'screen and (min-width: 768px) and (max-width: 900px)';
@dekstop-large:         ~'screen and (min-width: 901px)';
@landscape:             ~'screen and (max-width: 767px) and (orientation: landscape)';

// TYPOGRAPHY PRESETS

@import url(http://fonts.googleapis.com/css?family=Fauna+One:400,700);

@display-font:          'Fauna One';
@body-font:             'Helvetica Neue', Helvetica, Arial, sans-serif;


// GENERAL LAYOUT

html, body {
    padding: 0;
    margin: 0;
    background-color: @background;
    font-family: @body-font;
    font-size: 13px;
    @media @mobile, @tablet, @landscape {
        overflow: hidden;
    }
}

#main {
    width: 100%;
    height: 100%;
    position: absolute;
}

#map {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    bottom: @footer-height;
    @media @mobile, @tablet {
        top: 38px;
    }
}

.container {
    width: @container-width;
    margin: 0 auto;
    @media @mobile, @tablet {
        width: 100%;
    }
}

// LINKS

a {
    color: #7c7c7c;
}

// LAYOUT

header {
    width: 100%;
    position: absolute;
    .user-select(none);
    #nav-logo {
        z-index: @ui-index - 20;
        width: 120px;
        height: 150px;
        right: 5%;
        position: fixed;
        background: transparent url('../img/clv-logo-tag-240.png') center 0 no-repeat;
        background-size: 120px 150px;
        h2 {
            display: none;
        }
        a {
            display: block;
            width: 100px;
            height: 100px;
            margin: 0 auto;
        }
        @media @mobile, @tablet, @landscape {
            width: 80px;
            height: 100px;
            right: 5px;
            background-size: 80px 100px;
        }
    }
}

#error {
    width: 100%;
    height: 100%;
    background-color: @background-dark;
    z-index: @ui-index - 30;
    position: absolute;
    display: none;
    strong {
        font-size: 150%;
    }
    .modal {
        max-width: 250px;
        background-color: white;
        border-radius: 4px;
        position: relative;
        margin: 0 auto;
        text-align: center;
        top: 35%;
        padding: 16px;
    }
}

#vendor-info {
    width: 360px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1200;
    box-shadow: 0 0 6px rgba(0,0,0,0.25);
    background-color: #f1f1f1;
    color: black;
    font-size: 12px;
    max-height: 90%;
    overflow: auto;
    .user-select(none);
    border-radius: 2px;
    @media @mobile, @tablet, @landscape {
        width: 100%;
        top: 0;
        left: 0;
        border-radius: 0;
    }
    .vendor-title, .vendor-heading {
        font-family: @display-font;
        color: @vendor-heading-text-color;
    }
    .vendor-title {
        background-color: darken(@vendor-heading-color, 10%);
        height: 60px;
        padding: 10px 10px 15px;
        h1 {
            margin: 0;
            padding: 0 0 0 50px;
            font-size: 24px;
            // line-height: 36px;
            font-weight: normal;
            background: transparent url('../img/truck-icon.png') no-repeat;
            background-size: 36px 20px;
            background-position: left top 7px;
            @media @mobile, @tablet, @landscape {
                line-height: 18px;
                font-size: 14px;
                padding-left: 30px;
                background-size: 22px 12px;
                background-position: left center;
            }
        }
        p {
            margin-left: 50px;
            line-height: 130%;
            margin-top: 0;
            color: #dfdfdf;
            @media @mobile, @tablet, @landscape {
                display: none;
            }
        }
        @media @mobile, @tablet, @landscape {
            height: 18px;
        }
    }
    #vendor-data {
        @media @mobile, @tablet {
            display: none;
        }
    }
    .vendor-heading {
        background: @vendor-heading-color url('../img/arrow.png') right 20px top 16px no-repeat;
        font-size: 14px;
        height: 40px;
        line-height: 40px;
        padding: 0 10px;
        cursor: hand;
        cursor: pointer;
        border-bottom: 1px dotted lighten(@vendor-heading-color, 10%);
        .transition(background-color 0.2s ease);
        &.active {
            background: @vendor-heading-color url('../img/arrow-down.png') right 19px top 18px no-repeat;
            border-bottom: 0px;
        }
        &.no-border {
            border-bottom: 0px;
        }
        &:hover {
            background-color: @vendor-heading-hilite-color;
        }
    }
    .vendor-entries {
        .vendor-entry-list {
            background-color: white;
        }
        .vendor-entry, .vendor-message {
            padding: 10px 10px;
        }
        .vendor-entry {
            height: 60px;
            cursor: hand;
            cursor: pointer;
            .user-select(text);
            &:not(:last-child) {
                border-bottom: 1px dotted #d9d9d9;
            }
            &:hover {
                background-color: @vendor-entry-hilite-color;
            }
            .vendor-image {
                height: 70px;
                width: 70px;
                float: left;
                margin-right: 8px;
                margin-top: -6px;
                margin-left: -6px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            h3 {
                padding: 0;
                margin: 0;
                font-size: 18px;
            }
            p {
                padding: 0;
                margin: 0;
                .address {
                    color: #777;
                    font-size: 10px;
                }
            }
            span.time {
                background-color: @time-background;
                border-radius: 4px;
                float: right;
                margin-top: -56px;
                color: white;
                padding: 6px 10px;
            }
            span.later {
                background-color: @time-background-later;
            }
        }
        .vendor-entry-note {
            line-height: 10px;
            font-size: 11px;
            color: #777;
            border-top: 1px dotted #d9d9d9;
            background-color: #f1f1f1;
            padding: 0 10px;
        }
        .vendor-message {
            line-height: 10px;
        }
    }
}

footer {
    height: @footer-height;
    width: 100%;
    bottom: 0;
    position: fixed;
    background-color: @footer-background;
    color: lighten(@footer-background, 60%);
    z-index: @ui-index;
    font-size: 13px;
    .user-select(none);
    font-family: @display-font;
    border-top: 1px solid darken(@footer-background, 2%);
    box-shadow: 0 0 6px rgba(0,0,0,0.25);

    /* Responsive footer button set */
    #footer-wide {
        @media @mobile, @tablet, @desktop-small {
            display: none;
        }
    }
    #footer-mid {
        display: none;
        @media @tablet, @desktop-small {
            display: block;
        }
        @media @mobile {
            display: none;
        }
    }
    #footer-condensed {
        display: none;
        @media @mobile {
            display: block;
        }
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        white-space: nowrap;
        li {
            display: inline-block;
            margin: 0;
            padding: 0 30px;
            height: @footer-height;
            line-height: @footer-height;
            cursor: hand;
            cursor: pointer;
            &:hover {
                background-color: lighten(@footer-background, 5%);
            }
            &:after {
                margin-left: 15px;
                content: '\25B4';
                color: white;
            }
            @media @mobile {
                padding: 0;
                border: none;
                width: 25%;
                text-align: center;
                &:after {
                    margin-left: 0;
                    content: '';
                }
            }
            @media @tablet, @desktop-small {
                &:first-of-type {
//                    border-left: 1px solid @footer-divider;
                }
            }
        }
    }
}

#footer-elements {
    position: absolute;
    bottom: 0;

    @media @mobile {
        width: 100%;
        left: 0;
    }
}

div.footer-popup {
    position: absolute;
    display: none;
    bottom: 0;
    width: 400px;
    background-color: @background;
    color: black;
    left: 5%;
    box-shadow: 0 0 6px rgba(0,0,0,0.25);
    z-index: @ui-index - 10;
    @media @mobile {
        width: 100%;
        left: 0;
    }
    .footer-popup-close {
        position: absolute;
        top: 10px;
        right: 16px;
        color: darken(@background, 40%);
        cursor: pointer;
        font-size: 24px;
        @media @mobile, @tablet, @landscape {
            top: 0px;
        }
    }
    .footer-popup-title {
        padding: 15px 25px;
        background-color: darken(@background, 8%);
        h2 {
            font-family: @display-font;
            font-weight: normal;
            padding: 0;
            margin: 0;
        }
        @media @mobile, @tablet, @landscape {
            height: 18px;
            padding: 8px 20px;
            h2 {
                font-size: 16px;
                font-weight: bold;
            }
        }
    }
    .footer-popup-content {
        padding: 0 40px 50px 25px;
        line-height: 150%;
        @media @mobile, @tablet, @landscape {
            font-size: 11px;
            padding: 0 20px 50px;
            max-height: 240px;
            overflow-y: auto;
        }
    }
}
#vendors {
}
#calendar {
}
#about {
    width: 500px;
    @media @mobile {
        width: 100%;
    }
}
#feedback {
}

#popup-leaflet {
    .user-select(none);
    .popup-tag {
        display: inline-block;
        height: 11px;
        line-height: 11px;
        background-color: @time-background;
        color: white;
        font-size: 12px;
        padding: 6px 8px;
    }
    .popup-info {
        max-width: @popup-width;
        .user-select(text);
        .popup-vendor {
            .vendor-image {
            }
            line-height: 120%;
            padding: 8px;
            small {
                color: #888;
            }
        }
        .popup-location {
            padding: 8px;
            background-color: #f6f6f6;
            border-bottom: 1px solid #e9e9e9;
            strong {
                font-size: 13px;
            }
            .address {
                color: #888;
                a {
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
                .typcn {
                    font-size: 18px;
                    display: inline-block;
                    margin-top: -2px;
                    margin-left: -4px;
                }
            }
        }
        h3 {
            margin: 0;
            padding: 0;
            font-size: 16px;
            a {
                color: black !important;
                text-decoration: none;
                &:hover {
                    text-decoration: underline
                }
            }
        }
        @media @mobile, @tablet {
            .user-select(none);
        }
    }
}

#loading {
    width: 100%;
    height: 100%;
    position: absolute;
    background: @background-dark url('../img/loading-dark.gif') center center no-repeat;
}


#pi {
    position: absolute;
    right: 10px;
    bottom: 20px;
    .opacity(.1);
    width: 36px;
    height: 9px;
    @media @mobile {
        display: none;
    }
    img {
        width: 100%;
        height: 100%;
    }
}

// LEAFLET OVERRIDES

.leaflet-bottom {
}
.leaflet-top {
    margin-left: 385px;
    margin-top: 10px;
    @media @mobile, @tablet, @landscape {
        margin-left: 0;
        margin-top: 0;
    }
}
.leaflet-top, .leaflet-bottom {
    .user-select(none);
}
.map-legends {
    display: none;
}
.leaflet-control-attribution {
    background-color: rgba(255,255,255,0.7) !important;
    color: #888 !important;
    box-shadow: none !important;
    @media @mobile {
        font-size: 10px !important;
        a {
            color: #888 !important;
        }
    }
}
.leaflet-container a {
    color: #777 !important;
}
// This hides the second attribution provided by mapbox.js. See issue #6
.leaflet-control-attribution:last-of-type {
    display: none;
}

// Popup overrides
.leaflet-popup-content-wrapper {
    padding: 0 !important;
    max-width: @popup-width;
}
.leaflet-popup-content {
    margin: 0 !important;
    max-width: @popup-width;
    box-shadow: 0 1px 10px rgba(0,0,0,0.25);
}

.popup-message {
    text-align: center;
    padding: 8px;
    line-height: 120%;
}

// TYPICON SIZE OVERRIDE
.typcn {
    font-size: 190%;
}

